<ul class="nav nav-stacked nav-pills list-group">
    <li class="list-group-item">
        <a href="@Url.Action("Index", "Home")">
            Главная
        </a>
    </li>
    <li class="list-group-item">
        <a href="#" class="list-group-item">
            База знаний
        </a>
    </li>
    <li class="list-group-item">
        <a href="#" class="list-group-item">
            Запись на приём 
        </a>
    </li>
</ul>